In [1]:
import pandas as pd
import numpy as np

In [50]:
## Getting Data 
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [71]:
#Question: 1
np.__version__

'1.19.2'

In [72]:
#Question: 2
pd.__version__

'1.1.3'

In [35]:
#Question:3
bmw = df[df['Make'] == "BMW"]
bmw.shape[0]

334

In [36]:
avg_price = np.sum(bmw['MSRP']) / bmw.shape[0]
avg_price

61546.76347305389

In [37]:
#Question: 4
ca_2015 = df[df['Year'] >= 2015]
ca_2015['Engine HP'].isnull().sum()

51

In [43]:
#Question: 5
mean_hp_before = np.sum(df["Engine HP"]) / df.shape[0]
df["Engine HP"] = df["Engine HP"].fillna(df["Engine HP"].mean())
mean_hp_after = np.sum(df["Engine HP"]) / df.shape[0]

print(round(mean_hp_before))
print(round(mean_hp_after))

# Both are same

249
249

In [54]:
#Question: 6
RRC = df[df['Make'] == "Rolls-Royce"]
dataframe = RRC[["Engine HP", "Engine Cylinders", "highway MPG"]]
print(dataframe.shape)
dataframe.head(31)

(31, 3)

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5276       563.0              12.0           21
5277       563.0              12.0           21
5278       563.0              12.0           21
5279       563.0              12.0           20
5280       563.0              12.0           20
5281       563.0              12.0           21
5282       563.0              12.0           21
5283       563.0              12.0           21
5284       563.0              12.0           21
7443       322.0              12.0           15
7444       322.0              12.0           15
7553       453.0              12.0           19
7554       453.0              12.0           19
7555       453.0              12.0           19
7556       453.0              12.0           19
7557       453.0              12.0           19
7558       453.0              12.0           19
7559       453.0              12.0           19
7560       453.0              12.0           19
7561       453.0              12.0           19
7562       453.0              12.0           19
7563       453.0              12.0           19
7564       453.0              12.0           19
9431       322.0              12.0           15
9432       322.0              12.0           15
11448      624.0              12.0           21
11449      624.0              12.0           21
11450      624.0              12.0           21

In [57]:
dataframe.drop_duplicates(inplace=True)

<ipython-input-57-051207262b2f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe.drop_duplicates(inplace=True)

(7, 3)

In [61]:
dataframe.head()
X = np.array(dataframe)
XTX = np.dot(X.T,X)
XTX_inv = np.linalg.pinv(XTX)
print(np.sum(XTX))

1970887.0

In [70]:
#Question: 7
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
w = np.dot((np.dot(XTX_inv,X.T)),y)
w

array([ 0.19989598, 31.02612262, 31.65378877])